body {
    background-color: #70a6d8;
}

.title {
    color: #000000;
    font-family: 'Funnel Display', sans-serif;
    font-size: 32px;
}

.projects {
    color: #000000;
    font-family: 'Funnel Display', sans-serif;
    font-size: 16px;
    margin: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.project {
    background-color: rgb(22, 195, 126);
    padding: 20px;
    border: black;
    border-width: 1px;
    border-style: solid;
}

.socials {
    color: #000000;
    font-family: 'Funnel Display', sans-serif;
    font-size: 16px;
    margin: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.social {
    background-color: rgb(218, 124, 23);
    padding: 20px;
    border: black;
    border-width: 1px;
    border-style: solid;
}