body {
    background-color: #42a608;
}

.title {
    color: #000000;
    font-family: 'Funnel Display', sans-serif;
    font-size: 32px;
}

.projects {
    color: #000000;
    font-family: 'Funnel Display', sans-serif;
    font-size: 16px;
}