<!DOCTYPE html>
<html>
    <head>
        <title>pixel0pine's Blog</title>
        <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="header">
            <img src="/assets/images/favicon.png" height="32" class="header-item">
            <div id="title" class="header-item" align="center">
                <a href="#top">Blog</a>
            </div>
        </div>
        <main>
            {{ content }}
        </main>
    </body>
</html>